*.py[co]
/gkeys-gen/LICENSE
/gkeys-gen/README.md
/gkeys-ldap/LICENSE
/gkeys-ldap/README.md
/gkeys/LICENSE
/gkeys/README.md
/gkeys/py2man
/gkeys-gen/py2man
/gkeys-ldap/py2man
/gkeys/doc
/gkeys-gen/doc
/gkeys-ldap/doc
/gkeys/dist
/gkeys-gen/dist
/gkeys-ldap/dist
/gkeys/MANIFEST
/gkeys-gen/MANIFEST
/gkeys-ldap/MANIFEST

