# Gentoo-keys configuration file
#

[MAIN]

# keyserver: server to use to obtain the keys from
keyserver: pool.sks-keyservers.net


# keysdir: base directory to store the binary keyrings and data
keysdir: /var/lib/gentoo/gkeys


# devkeydir: the directory where the gentoo developer keys
# will be stored.
dev-keydir: %(keysdir)s/devs


# releaskeydir: the directory where the official release media keys
# will be stored.
rel-keydir: %(keysdir)s/release


# keyring: the directory where the official keyring  with the specified keys
# will be exported.
keyring: %(keysdir)s/keyring


# overlayskeydir: the directory where the overlay keys
# will be stored.
overlays-keydir: %(keysdir)s/overlays


# knownkeysfile: txt file to hold a cache of the
# installed (name, keyid, fingerprint) keys
known-keysfile:  %(keysdir)s/knownkeys


# seedsdir: base directory for all seed files
# used when searching all seed files.
seedsdir: %(keysdir)s/seeds


# releaseseedfile: txt file of one tuple of (name, keyid, fingerprint)
# entry per line
rel-seedfile: %(seedsdir)s/release.seeds


# devseedfile: txt file of one tuple of (name, keyid, fingerprint)
# entry per line
dev-seedfile: %(seedsdir)s/developer.seeds


# logfile directory
logdir: /var/log/gkeys


[permissions]

# Permissions settings (octal)
# chmod setting (octal)
directories: 0775

#umask setting (octal)
files: 0o002


[seedurls]
# Use the filenames as the keys.
# The will be paired to the seed file of the same name for fetching, updating
release.seeds: https://api.gentoo.org/gentoo-keys/seeds/release.seeds
developers.seeds: https://api.gentoo.org/gentoo-keys/seeds/developer.seeds
