# Gentoo-keys configuration file
#

[DEFAULT]

# keyserver: server to use to obtain the keys from
keyserver: pool.sks-keyservers.net


# gkeysdir: Base directory to use as the path prefix to use
# for the gkey directories, keyring settings
# eg: '/' for root if absolute paths are used
#     for sub-directories, keyrings
# eg: /var/lib/gentoo/gkeys if using relative paths
gkeysdir: /var/lib/gentoo/gkeys


# dev-category: The directory where the gentoo developer keys
# will be stored.
dev-category: %(gkeysdir)s/devs


# rel-category: The directory where the official release media keys
# will be stored.
rel-category: %(gkeysdir)s/release


# sign-category: The directory to use as the path prefix to use
# for the signing capable keyrings, keyring settings
sign-category: %(gkeysdir)s/sign


# keyring: The directory where the official keyring  with the specified keys
# will be exported.
keyring: %(gkeysdir)s/keyring


# overlayskeydir: The directory where the overlay keys
# will be stored.
overlays-category: %(gkeysdir)s/overlays


# seedsdir: The directory for all seed files
# used when searching all seed files.
seedsdir: %(gkeysdir)s/seeds


# logfile directory
logdir: /var/log/gkeys


[permissions]

# Permissions settings (octal)
# chmod setting (octal)
directories: 0o775

#umask setting (octal)
files: 0o007


[seeds]

# *-seedfile: json txt file of name, keyid, fingerprint
# entry per line
gentoo: %(seedsdir)s/gentoo.seeds
gentoodevs: %(seedsdir)s/gentoodevs.seeds


[seedurls]

# Use the filenames as the keys.
# The will be paired to the seed file of the same name for fetching, updating
gentoo: https://api.gentoo.org/gentoo-keys/seeds/gentoo.seeds
gentoodevs: https://api.gentoo.org/gentoo-keys/seeds/gentoodevs.seeds


# GKEY nick used for verification of seeds and other gkey files
gkey = gkeys


[sign]

# The home or key directory to use for signing files
#keydir: foo


# keyring to use if not the default
# keyring: bar


# The key fingerprint to use for signing
# key: 0x01234567891012345


# the gpg signature option to use for signing
# type: detach-sign
